.button {
  $parent: &;
  @include flexible(center, center, $gap: 4px);
  padding: 8px 16px;

  // Button Sizes
  &--small {
    height: 29px;
  }

  &--medium {
    height: 32px;
  }

  &--large {
    height: 40px;
  }

  &-full-width {
    @include fixedWidth(100%, $min-size: 0);
    padding: 0;
  }

  // Button Types
  &--primary {
    background-color: #007FFF;
    @include border($border-radius: 8px);

    #{$parent}__text {
      color: #FFFFFF;
    }
  }

  &--secondary {
    background-color: #D4E9FF;
    @include border($border-radius: 8px);

    #{$parent}__text {
      color: #007FFF;
    }
  }

  &--borderless {
    background-color: transparent;
    @include border($border-radius: 8px);

    #{$parent}__text {
      color: #007FFF;
    }
  }

  &--invert {
    background-color: #FFFFFF;
    @include border($border-radius: 8px);

    #{$parent}__text {
      color: #007FFF;
    }
  }

  // Button States

  &--primary:active {
    background-color: #006DDB;
    transition: background-color .4s ease-out;
  }

  &--secondary:active {
    background-color: #ABD5FF;
    transition: background-color .4s ease-out;

    #{$parent}__text {
      color: #007FFF;
    }
  }

  &--primary--disabled {
    background-color: #EBEBEB;

    #{$parent}__text {
      color: #A1A1A1;
    }
  }
  &--secondary--disabled {
    background-color: #EBEBEB;

    #{$parent}__text {
      color: #A1A1A1;
    }
  }
}