.authorization-page {
  @include flexible($jc: space-between, $gap: 16px);
  padding-right: 34px;
  width: 100%;
  height: 100%;

  background-image: url("../../../assets/images/Gradient.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}