.collapse {
  @include flexible($fd: column);
  width: 100%;
  &__edit-icons {
    display: none;
  }
  &:hover {
    .collapse__edit-icons {
      @include flexible($fd: row, $ai: center, $gap: 16px);
    }
  }
  &__container {
    @include flexible($fd: row, $ai: center, $gap: 16px);
  }

  &__icons {
    @include flexible($fd: row, $ai: center, $gap: 16px);
  }
  &__icon {
    color: #000;
  }

  &__wrapper {
    @include flexible($fd: row, $ai: center, $jc: space-between);
    padding: 12px 16px;
    width: 100%;
    cursor: pointer;
  }
  &__content {
    @include flexible($fd: row, $gap: 24px);
    flex-wrap: wrap;
    width: 100%;
  }
}
