.collapse {
  @include flexible($fd: column);
  width: 100%;
  &__title {
    &--bold {
      font-family: 'NT Somic-Bold', sans-serif;
    }
    &__wrapper {
      @include flexible($fd: row, $ai: center, $gap: 16px);
    }
  }

  &__icons {
    @include flexible($fd: row, $gap: 16px, $ai: center);
  }

  &__wrapper {
    @include flexible($fd: row, $ai: center, $jc: space-between);
    padding: 12px 16px;
    width: 100%;
    cursor: pointer;
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
  }
}