.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.64);
  backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  &__close {
    @include flexible($fd: row, $jc: flex-end);
  }

  &__content {
    padding: 20px;
    border-radius: 8px;
    width: 380px;
    background: #FFFFFF;

    &__container {
      @include flexible($fd: column, $gap: 16px);
      margin-top: 4px;
    }

    &__title {
      text-align: center;
      margin: 0 auto;
      font-family: "NT Somic-Bold", sans-serif;
    }

    &.active {
      opacity: 1;
    }
  }

  &__btns {
    @include flexible($fd: row, $gap: 6px);
  }
}