.page {
}

.app-layout {
  @include flexible($fd: column);
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    @include flexible($fd: row);
  }
}

.main-page {
  // width: 100%;
  // padding: 32px;
}
