.third-screen {
  @include flexible($fd: column, $ai: center);
  gap: 16px;
  &__title {
    width: 340px;
  }
  &__inputs {
    width: 100%;
    @include flexible($fd: row, $ai: center, $jc: space-between);
    gap: 10px;
  }
}
.code {
  &-container {
    width: 100%;
    @include flexible($fd: row, $ai: center, $jc: space-between);
    gap: 10px;
  }
  width: 40px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid $color-border-primary;
  text-align: center;
  &:focus {
    border: 1px solid $color-primary;
  }
}
