.register-input {
  @include flexible($fd: column);
  width: 100%;
  input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #dedede;
    border-radius: 8px;
    &::placeholder {
      color: #a1a1a1;
    }
    &:focus {
      border: 1px solid #007fff;
    }
  }

  &__hint-text {
    @include flexible($fd: row, $ai: center, $gap: 4px);
    color: #e32727;
  }
}
