//? Core
$color-primary: #007FFF;
$color-secondary: #FF007F;
$color-tertiary: #7F007F;

//? Text
$color-text-primary: #000000;
$color-text-secondary: #787878;
$color-text-tertiary: #A1A1A1;
$color-text-success: #1EC025;
$color-text-warning: #FDDD18;
$color-text-error: #E32727;

//? Text invert
$color-text-invert-primary: #FFFFFF;
$color-text-invert-secondary: #F2F2F2;
$color-text-invert-tertiary: #DEDEDE;

//? Icon
$color-icon-primary: #000000;
$color-icon-secondary: #787878;
$color-icon-tertiary: #A1A1A1;
$color-icon-success: #1EC025;
$color-icon-error: #E32727;

//? Icon invert
$color-icon-invert-primary: #FFFFFF;
$color-icon-invert-secondary: #F2F2F2;
$color-icon-invert-tertiary: #DEDEDE;

//? Button primary
$color-button-primary-default: #007FFF;
$color-button-primary-hover: #006DDB;
$color-button-primary-focus: #004285;
$color-button-primary-disable: #EBEBEB;

//? Button secondary
$color-button-secondary-default: #D4E9FF;
$color-button-secondary-hover: #ABD5FF;
$color-button-secondary-focus: #007FFF;
$color-button-secondary-disable: #EBEBEB;

//? Button invert
$color-button-invert-default: #FFFFFF;
$color-button-invert-hover: #F2F2F2;
$color-button-invert-focus: #DEDEDE;
$color-button-invert-disable: #ADADAD;

//? Background
$color-background-primary: #FFFFFF;
$color-background-secondary: #F2F2F2;

//? Border
$color-border-primary: #DEDEDE;
$color-border-secondary: #CDCDCD;
$color-border-success: #1EC025;
$color-border-warning: #FDDD18;
$color-border-error: #E32727;

//? Control
$color-control-active: #007FFF;
$color-control-active-disable: #BFD6FF;
$color-control-default: #BFC1C7;
$color-control-default-disable: #EAEAEA;