.sidebar {
  @include flexible($fd: column, $jc: space-between);
  padding: 24px 0px 24px 12px;
  width: 224px;
  height: 100%;

  background-color: $color-background-primary;
  border-right: 1px solid $color-border-primary;

  &__links {
    width: 100%;
    @include flexible($fd: column, $gap: 16px);
  }

  &__link {
    @include flexible($fd: row, $gap: 16px, $ai: center);
    padding: 4px 16px;
    cursor: pointer;
    width: 100%;

    &.active {
      background: linear-gradient(270deg, rgba(0, 127, 255, 0.04) 0%, rgba(0, 127, 255, 0) 100%);
    }
  }
}