.modal-content {
  padding: 20px;
  @include flexible($fd: column, $ai: center);
  border-radius: 8px;
  background-color: $color-text-invert-primary;

  &--without-buttons {
    padding-top: 48px;
    gap: 16px;

    .modal-content__content {
      margin: 0;
    }
  }

  &__title {
    color: $color-text-primary;
    font-weight: 600;
  }

  &__description {
    margin-top: 8px;
    color: $color-text-secondary;
    text-align: center;
  }

  &__button-wrapper {
    margin-top: 20px;
    @include flexible($ai: center, $gap: 8px);
    align-self: flex-start;

    &--attention {
      margin-top: 16px;
      align-self: center;
    }
  }

  &__attention-icon {
    margin-top: 28px;
    margin-bottom: 16px;
  }

  &__content {
    margin-top: 20px;
    margin-bottom: 8px;
    @include flexible($fd: column, $ai: center, $jc: center);
    width: 100%;
  }
}
